/* MAIN NAV BAR */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*if the window is clipped, it will hide content*/ 
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    width: 100%;
}
li.nav {
    float: left;
}
li.nav a.nav {
    display: block;
    color: rgb(211, 92, 92);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Comfortaa;
}
li.nav a.nav:hover {
    background-color: rgb(211, 92, 92);
    color: white;
}

/*BODY*/
body {
    font-family: Comfortaa;
}

h1.maintext {
    margin-left:150px;
    color: rgb(211, 92, 92);
    font-size:50px;
    margin-top: 230px;
}
h2.maintext {
  text-align: center;
  color: rgb(211, 92, 92);
  font-size:50px;
  margin-top: 150px;
}

p.maintext {
    margin-left:150px;
    margin-top:30px;
    color: black;
    line-height:150%;
}

.mainimg {
    float:right;
    width:650px;
    height:700px;
    margin: 0 0 0 15px;
} 

.contactbox {
    width: 600px;
    margin-left: 150px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.contacttext {
    margin-left: 20px;
    margin-top: 50px;
    padding: 20px 16px;
}

.contactbutton {
    background-color: rgb(211, 92, 92);
    margin-left: 150px;
    padding: 12px;
    width:130px;
    font-size:18px;
    font-family: Comfortaa;
    color:white;
    border:0px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.25);
    transition: 0.2s;
}
.contactbutton:hover {
    transform: scale(1.1);
}

/*carousel*/
.mainTextBackground {
    width: 600px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    margin: auto;
    bottom: 60px;
    left: 440px;
    position: absolute;
  }
  .mainText {
    /*for the text*/
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Comfortaa;
  }

  /*branch boxes*/
  .container {
    text-align: center;
  }
  .block {
    margin-left: 220px;
    display: inline-block;
    width: 400px;
    margin-right: 10px;
    height: 250px;
    border: 2px solid;
    border-color: rgb(240, 238, 238);
    transition: 0.2s;
    cursor: pointer;
  }
  .block:hover {
    transform: scale(1.1);
  }
  .blocktext {
    color: rgb(209, 76, 76);
    text-align: center;
    font-family: Comfortaa;
    padding-top: 20px;
    font-size: 32px;
  }

  /*branch modals*/

  #branchModal {
    font-family: Comfortaa;
  }

  /*board styling*/
  .headers {
    text-align: center;
    color: rgb(209, 76, 76);
  }
  h3.headers {
    text-align: center;
    color: rgb(209, 76, 76);
    font-size:17px;
  }
  .board_container {
    text-align: center;
    flex-wrap: wrap;
  }
  .board_div {
    cursor: pointer;
    margin: auto;
    display: inline-block;
    padding: 10px 70px 0px;
  }
  .board_pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
  }

  /*modal*/

  .modal_pic {
    width: 250px;
    height: 400px;
    float:left;
    padding-right:20px;
    object-fit: cover;
  }
  .modal_question {
    color: rgb(206, 59, 59);
    font-size: 14px;
  }
  .modal_answer {
    color: black;
    font-size: 14px;
  }
